@use 'variaveis';

.hero {

    display: flex;
    align-items: center;

    padding: 5.6vw;
    width: 100%;               
    height: 100vh;
    background-image: url(../images/bg/hero1.png);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        margin-top: -50px;
    }

    .button {
        margin-top: 1vw;
        margin-bottom: 4px;
    }
    
    &__content {
        max-width: 640px;
        padding: 3.5vw;
        width: 100%;               
        height: 100vh;
        

        &__branding {
            max-width: 320px;
            margin: 0 auto 8px;

            img {
                max-width: 240px;
            }
        }

        .title--small {
            margin-bottom: 16px;
        }

        p {
            margin-bottom: 12px;

            &:last-child {
                margin-top: 5px;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;
            list-style: none;

            &__combo {
                width: calc(50% - 12px);


                img {
                    max-height: 48px;
                }

            }
        }
    }
}