@use 'variaveis';

.plans {
    padding: 5.6vw;
    

    h2 {
        text-align: center;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;

        @media (max-width: 768px) {
            display: block;
        }

        &__item {
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 60px 44px 44px;
            max-width: 640px;
            width: 100%;

            &:nth-child(2) {
                background-image: url(../images/bg/mpopular.png);
                background-repeat: no-repeat;
                background-size: contain;
            }


            img {
                height: 83px;
            }

            strong {
                display: block;
                margin-top: 24px;
            }

            .button {
                background-color: variaveis.$corTextoSecundario;
            }

            @media (max-width: 768px) {
                display: block;
                align-items: center;
            }
        }
    }

    p {
        text-align: center;
    }

}